* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #97a528, #0d3b61);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero h1 {
    font-size: 45px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
    text-align: center;
}

.hero h1 span {
    color: #15edac;
    font-family: serif;
    animation: animate 1.5s linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 0;
    }
}

textarea {
    width: 600px;
    height: 250px;
    background-color: transparent;
    color: #fff;
    font-size: 15px;
    border: 2px solid aqua;
    outline: none;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
}

textarea::placeholder {
    font-size: 16px;
    color: #f1f0f6fd;
}

.row {
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
}

button {
    background-color: orange;
    color: white;
    font-size: 16px;
    padding: 15px 20px;
    border-radius: 35px;
    border: 2px solid #10eabb;
    outline: none;
    cursor: pointer;
}

#pauseButton {
    background-image: url('pause.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#resumeButton {
    background-image: url('play.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

select {
    flex: 1;
    color: #fff;
    background: orange;
    height: 50px;
    padding: 0 20px;
    border: 2px solid #10eabb;
    outline: none;
    border-radius: 35px;
    font-size: 16px;
}

select option {
    color: black;
    background: white;
}
